@import "../../../css/font-awesome.min.css";
@import "../../../css/bootstrap.min.css"
@import "../../../css/style-dashboard.css";
@import "../../../css/jquery-ui.min.css";
@import "../../../css/jquery-ui.structure.min.css";
@import "../../../css/jquery-ui.theme.min.css";


table
	overflow-y: hidden
table tr
	cursor pointer

input:invalid
	border-color red

form#Remitentes,form#UpdateRemitentes,form#Caracteres,form#UpdateCaracteres,form#Turnados,form#UpdateTurnados,form#Acciones,form#UpdateAcciones
	div.saludo,div.nombre,div.cargo,div.siglas,div.procedencia,div.estatus
		margin-right 10px
		margin-bottom 15px
	div
		label,input[type=text]
			width 100%
	div.saludo,div.siglas
		width 10%
	div.nombre,div.procedencia
		width 40%
	div.cargo
		width 40%
	div.send
		display block
		margin-top 20px
		input[type=submit]
			margin-right 10px


form#Volantes
	div.subDocumento,div.Promocion,div.cveAuditoria,div.datosAuditoria
		display none
	div.headerVolante
		display flex
		flex-wrap wrap
	div.contentVolante
		margin-top 20px
		display none
		div
			margin-bottom 10px;
	div.Folio
		width 100px
	div.numDocumento,div.fDocumento,div.fRecepcion,div.anexos,div.hRecepcion
		width 135px
	div.Asunto,div.send
		display block
	div.Destinatario
		width 50%
		input
			width 60% 
		button
			display inline-block
			width 20%
			margin-left 10px
	div.Asunto
		width 57%
	div.idRemitente
		width 45%;
	div.send input[type=submit]
		width 7% !important
		margin-right 15px; 
	div.NombreRemitente,div.cargo,div.dependencia
		width 28%
	div
		margin-right 10px
		label,input,textarea
			width 100%
	div.idDocumento,div.subDocumento,div.Promocion
		width 15%
	div.idUnidad,div.idObjeto
		width 35%;
		display block
		ul
			padding 1px 15px
	div.datosAuditoria
		position relative
		border-bottom 1px solid grey
		border-top 1px solid grey
		margin-top 30px
		margin-bottom 30px
		p
			position absolute
			font-size 25px
			top 5px
			right 0
			transition all .5s
		span
			position absolute
			top 5px
			right 30px
			display none
		label
			margin-top 10px
			background-color #efefef
			color black
			



form#UpdateVolantes
	div.headerVolante,div.datosAuditoria
		display none
	div.Folio
		width 100px
	div.numDocumento,div.fDocumento,div.fRecepcion,div.anexos,div.hRecepcion
		width 135px
	div.idRemitente,div.Destinatario, div.Asunto,div.send
		display block
	div.Destinatario
		width 28%
	div.Asunto
		width 57%
	div.send input[type=submit]
		width 7% !important
		margin-right 15px; 
	div.NombreRemitente,div.cargo,div.dependencia
		width 28%
	div
		margin-right 10px
		label,input,textarea
			width 100%
	div.idDocumento,div.subDocumento,div.Promocion
		width 15%
	div.idUnidad,div.idObjeto
		width 60%;
		display block
	div.send
		margin-top 15px


td#idAccion,td#idCaracter,td#idSubTipoDocumento,td#idVolante
	display none
th#idAccion,th#idCaracter,th#idSubTipoDocumento,th#idVolante
	display none
.rotaFlecha
	transform rotate(180deg);
	transition all .5s
	
div.widget-icons a
	color #fff !important